<div id="<%= dom_id store %>" class="store-card">
  <div class="card-container">
    <% if store.avatar.attached? %>
      <%= image_tag store.avatar.variant(resize_to_limit: [100, 100]), alt: store.name, class: "store-avatar" %>
    <% end %>
    <div>
      <strong class="store-label">Name:</strong>
      <span class="store-name"><%= store.name %></span>
      <strong class="store-label">Address:</strong>
      <span class="store-address"><%= store.address || 'not registered' %></span>
      <% if store.discarded? %>
        <h3>Status: inativo</h3>
      <% else  %>
        <h3>Status: ativo</h3>
          <% if store.is_open %>
            <h3 class="open-store">Loja aberta</h3>
          <% else  %>
            <h3 class="closed-store">Loja fechada</h3>
         <% end  %>
      <% end  %>
        </div>
        <strong class="store-label">Owner:</strong>
        <span class="store-name"><%= store.user.email %></span>
    </div>
</div>
