<p class="notice"><%= notice %></p>

<h1 class="page-title">Stores</h1>
<div class="father-user-links">
  <div class="store-actions-three">
    <%= link_to "New store", new_store_path, class: "btn btn-new-store" %>
    <%= link_to "Return to welcome", root_path, class: "btn btn-back-to-stores" %>
  </div>
</div>

<div id="stores" class="stores-container">
  <% @stores.each do |store| %>
    <div class="store">
      <%= render store %>
      <p>
        <%= link_to "Show this store", store, class: "btn btn-show-store" %>
      </p>
    </div>
  <% end %>
</div>


