<p style="color: green"><%= notice %></p>

<%= render @store %>

<div class="store-actions">
  <%= link_to "Edit this store", edit_store_path(@store), class: "btn btn-edit-store" %>
  <%= link_to "Back to stores", stores_path, class: "btn btn-back-to-stores" %>
  <%= button_to "Destroy this store", @store, method: :delete, class: "btn btn-destroy-store", data: { confirm: "Are you sure?" } %>
</div>

