<p style="color: green"><%= notice %></p>

<%= render @store %>

<div class="store-actions">
    <%= link_to "Register new Product", new_store_product_path(store_id: @store.id), class: "btn btn-new-store" %>
  <%= link_to "Edit this store", edit_store_path(@store), class: "btn btn-edit-store" %>
  <%= link_to "Back to stores", stores_path, class: "btn btn-back-to-stores" %>
  <% if @store.discarded? %>
      <%= button_to "Active this store", reactivate_store_path(id: @store.id), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-show-store"  %>
   <% else  %>
      <%= button_to "Deactivate this store", store_path(id: @store.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-show-store"   %>
    <% end  %>
</div>

