<h1 id="product-title">Managing Users</h1>

<div class="products-container">
  <% @users.each do |user| %>

      <div class="card">
        <div class="card-content">
          <h3><%= user.email %></h3>
          <h3><%= user.role %></h3>
          <%= link_to "Show this user", me_path(user) %>
          <%= link_to "Edit this user",  edit_registration_path(id: user.id)%>
          <%= link_to "Deactivate this user", deactivate_user_path(user)%>
        </div>
     </div>
      <hr />
  <% end %>
</div>