<div class="user-details">
  <h2>User: <%= @user.email%></h2>
  <p><strong>id:</strong> <%= @user.id%></p>
  <%= link_to "Edit this user",  edit_user_password_path(@user)%>
  <%= link_to "Deactivate this user", deactivate_user_path(@user)%>
  <%= link_to "Go To The users", users_all_path%>
</div>