<div class="container-signup">
  <h2>Sign up</h2>

  <%= form_with(model: @user, url: sign_up_registration_path) do |form| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="field">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field role-input">
      <%= form.label :role %><br />
      <%= form.select :role, User.roles.keys, class: 'role-input' %>
    </div>

    <div class="actions">
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</div>