<div class="container">
  <p style="color: green;"><%= notice %></p>
  <% if current_user %>
  <div class="container-links-welcome">
       <%= link_to "Listar produtos", listing_path %>
       <%= link_to "Gerenciar usuários", users_all_path %>
       <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
     </div>
    <h1>Welcome to Delivery!</h1>
    <p class="user-info">Logged in as <strong><%= current_user.email %></strong></p>
  <% else %>
    <h1>Welcome to Delivery!</h1>
    <div class="auth-links">
      <%= link_to "Sign in", new_user_session_path %>
    </div>
  <% end %>
</div>
