<div class="orders-page">
  <h1>Página de compras</h1>
  <%= form_with model: @order, local: true do |form| %>
    <div>
      <%= form.label :buyer_id, "Comprador" %>
      <%= form.select :buyer_id, @users.collect { |u| [u.email, u.id] }, prompt: "Selecione um comprador" %>
    </div>
  
    <div>
      <%= form.label :store_id, "Loja" %>
      <%= form.select :store_id, @stores.collect { |s| [s.name, s.id] }, prompt: "Selecione uma loja", id: "order_store_id" %>
    </div>
  
    <h2>Itens do Pedido</h2>
    <div id="order_items">
      <%= form.fields_for :order_items do |item_form| %>
        <div class="order_item">
        </div>
      <% end %>
    </div>
  
    <%= link_to "Adicionar Item", '#', id: "add_order_item" %>
  
    <div>
      <%= form.submit "Criar Pedido" %>
    </div>
  <% end %>
</div>

