<h1 class="text-center">Dashboard</h1>
<div class="dashboard-container">
  <h2 class="text-center">Gerenciamento de Chaves de API</h2>
  <p class="text-center">Adicione, edite ou remova as chaves de API</p>
  
  <div class="credentials-list">
    <p >Chaves de API cadastradas:</p>
    <% @credentials.each do |credential| %>
      <div class="credential-item">
        <div class="key">
          <span class="credential-access"><%= credential.access.capitalize %>:</span>
          <p><%= credential.key %></p>
        </div>
        <div class="key">
          <%= button_to 'Atualizar', credential_path(id: credential), method: :put, class: 'btn btn-new-store', data: { confirm: 'Tem certeza?' } %>
          <%= button_to 'Excluir', delete_credential_path(credential), method: :delete, class: 'btn closed-store', data: { confirm: 'Tem certeza?' } %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-new-key">
    <h2>Adicionar nova chave de API</h2>
    <%= form_with(model: @new_credential, local: true, html: { class: 'new-credential-form' }) do |form| %>
      <div class="new-credential-fields">
        <%= form.label :access, class: 'new-credential-label' %>
        <%= form.select :access, Credential.accesses.keys.map { |key| [key.humanize, key] }, { prompt: 'Selecione o Acesso' }, class: 'new-credential-select' %>
      </div>
      <div class="new-credential-fields">
        <%= form.label :key, class: 'new-credential-label' %>
      </div>
      <div class="new-credential-submit">
        <%= form.submit 'Criar', class: 'new-credential-button' %>
      </div>
    <% end %>
</div>
</div>

