<div class="card-two">
    <p style="color: green"><%= notice %></p>
    
    <%= render 'product', product: @product %>
    
    <div class="father-user-links">
        <div class="store-actions-two">
              <%= link_to "Edit this product", edit_store_product_path(@product.store, @product), class: "btn btn-edit-store" %> 
              <%= link_to "Back to listing", listing_path, class: "btn btn-back-to-stores" %>
           <% if @product.discarded? %>
               <%= button_to "Active this product", reactivate_product_store_path(store_id: @product.store.id, id: @product.id), method: :put, class: "btn btn-new-store" %>
           <% else  %>
              <%= button_to "Excluir produto",  store_product_path(store_id: @product.store.id, id: @product.id), method: :delete,  form: {data: { turbo_confirm: "Tem certeza que deseja excluir esse produto?"  }}, class: "btn btn-show-store"%>
          <% end  %>
        </div>
    </div>
</div>